
	.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height:100%;
    z-index: 9999;
    background: url('../images/logo.gif') 50% 50% no-repeat black;
    background-color: #1E91F3;
}